{% extends "base.html" %} {% block title %}Chess Room {{ room }}{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-8 w-screen">
  <h2 class="text-2xl font-bold mb-6 text-center">Chess Room {{ room }}</h2>
  <div
    id="waiting-screen"
    class="flex items-center justify-center h-96 text-xl"
  >
    Waiting for opponent...
  </div>
  <div id="game-screen" style="display: none">
    <p id="status" class="mb-4"></p>
    <p id="turn-status" class="mb-4 font-bold"></p>
    <div
      id="chessboard"
      class="w-96 h-96 mx-auto grid grid-cols-8 gap-0 border-2 border-gray-800"
    ></div>
    <button
      id="resign"
      class="mt-4 bg-red-600 text-white p-2 rounded-md hover:bg-red-700"
    >
      Resign
    </button>
  </div>
</div>
<link rel="stylesheet" href="/static/css/chess.css" />

<script>
  const room = "{{ room }}";
  const username = "{{ username }}";
  const skill = "{{ skill }}";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chess.js@0.12.0/chess.min.js"></script>
<script src="/static/js/chess.js"></script>
{% endblock %}
