:root {
  --in-game-button-z-index: 150;
}

#change-hand-visibility-btn {
  position: absolute;
  top: -25%;
  left: -60%;
  z-index: var(--in-game-button-z-index);
}

.game-status {
  position: absolute;
  width: 60%;
  top: 110%;
  left: -75%;
  z-index: var(--in-game-button-z-index);
}

#select-piece-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;

  opacity: 0.7;
  z-index: 800;

  overflow: hidden;
  background-color: var(--bs-gray);
  transition: opacity 0.2s ease-in;
}

#select-piece-screen.opacity-hidden {
  opacity: 0;
  z-index: -800;
}

#submit-selected-piece-btn {
  position: absolute;
  top: 80%;
  left: 46%;
  width: 8vw;
  height: 4vh;
}

.select-screen-choosable {
  z-index: 801;
}

.prestige-area {
  position: absolute;
  height: 4rem;
  width: 4rem;
  text-align: center;
  align-content: center;
  top: -7%;
  font-weight: bold;
  font-size: 2rem;
}

.prestige-area#enemy-prestige-area {
  left: 10%;
}

.prestige-area#friendly-prestige-area {
  right: 10%;
}

@media (max-height: 800px) {
  #change-hand-visibility-btn {
    top: 0%;
  }

  .game-status {
    top: 80%;
    left: -68%;
  }

  .prestige-area {
    top: -20%;
  }

  .prestige-area#enemy-prestige-area {
    left: 15%;
  }

  .prestige-area#friendly-prestige-area {
    right: 15%;
  }
}
