:root {
  --in-game-button-z-index: 150;
}

#change-hand-visibility-btn {
  position: absolute;
  top: -25%;
  left: -60%;
  z-index: var(--in-game-button-z-index);
}

.game-status {
  position: absolute;
  width: 60%;
  top: 110%;
  left: -75%;
  z-index: var(--in-game-button-z-index);
}

@media (max-height: 800px) {
  #change-hand-visibility-btn {
    top: 0%;
  }

  .game-status {
    top: 80%;
    left: -68%;
  }
}
